<div class="flex h-full flex-col p-3">
    <!-- Navegación del sidebar -->
    <nav class="flex flex-1 flex-col gap-2">
        <!-- Botón Economico -->
        <button (click)="goToEconomico()" title="Economico" [class]="getButtonClass('economico')">
            <i class="fas fa-coins text-blue-500"></i>
        </button>

        <!-- Botón Personal -->
        <button (click)="goToPersonal()" title="Personal" [class]="getButtonClass('personal')">
            <i class="fas fa-users text-lg text-blue-500"></i>
        </button>

        <!-- Botón Proyectos -->
        <button (click)="goToProyectos()" title="Proyectos" [class]="getButtonClass('proyectos')">
            <i class="fas fa-project-diagram text-blue-500"></i>
        </button>

        <!-- Botón Colaboraciones -->
        <button (click)="goToColaboraciones()" title="Colaboraciones Externas" [class]="getButtonClass('colaboraciones')">
            <i class="fas fa-handshake text-blue-500"></i>
        </button>

        <!-- Botón Materiales Fungibles -->
        <button (click)="goToMateriales()" title="Materiales Fungibles" [class]="getButtonClass('materiales')">
            <i class="fas fa-flask text-blue-500"></i>
        </button>

        <!-- Botón Amortización -->
        <button (click)="goToAmortizacion()" title="Amortización de Activos" [class]="getButtonClass('amortizacion')">
            <i class="fas fa-chart-line text-blue-500"></i>
        </button>

        <!-- Botón Asignaciones -->
        <button (click)="goToAsignaciones()" title="Asignaciones" [class]="getButtonClass('asignaciones')">
            <i class="fas fa-tasks text-blue-500"></i>
        </button>
        <!-- Botón Resumen -->
        <button (click)="goToResumen()" title="Resumen" [class]="getButtonClass('resumen')">
            <i class="fas fa-chart-bar text-blue-500"></i>
        </button>
    </nav>
</div>
